header {
  text-align: center;
  background-color: azure;
}

body {
  width: auto;
  margin: auto;
  background-color: darkgrey;
}

h1 {
  color: black;
  background-color: lightgrey;
  text-align: center;
  padding: 10px;
  margin: auto;
  font-size: xx-large;
  font-style: italic;
}

h2 {
  color: black;
  background-color: whitesmoke;
  padding: 10px;
  border: medium solid black;
  text-align: center;

}
hr.solid {
  border-top: 3px solid black
}

#bio1 {
  
}
#education1 {
  
}
footer {
  text-align: center;
}